doctype 5
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='javascripts/jquery.min.js')
        script(src='/api/src-min-noconflict/ace.js')
        block scripts
    body
        block content